*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .main-container {
    display: grid;
    grid-template-columns: 250px 1fr; /* Venstre kolonne: 250px, høyre: resten */
    height: 100vh; /* Full høyde av skjermen */
  }

  .main-content {
    background-color: #e6edff; /* Lys blå bakgrunn */
    position: relative;
  }