/* Styling for header */
.site-header {
  background-color: var(--color-background-light);
  color: #2e5278;
  padding: 1rem;
  margin-bottom: 0;
}

/* Wrapper for logo and buttons */
.wrapper {
  display: flex;
  justify-content: space-between; /* Space between logo and buttons */
  align-items: center;
  width: 100%;
}

/* Styling for logo-container */
.logo-container {
  display: flex;
  align-items: center;
}

.logo-container img {
  height: 2rem;
  width: auto;
}

.logo-container h1 {
  margin: 0;
  font-size: 1.4rem;
  font-weight: 600;
  color: #2e5278;
  line-height: 1;
}

/* Auth buttons styling */
.auth-buttons {
  display: flex;
  gap: 10px; /* Space between buttons */
}

.auth-button {
  padding: 5px 15px;
  border-radius: 20px;
  background-color: var(--color-nav);
  border: none;
  cursor: pointer;
  color: #fff;
  transition: background-color 0.3s;
}

.auth-button:hover {
  background-color: var(--color-nav-darker);
}
