
/* Styling for header */
.site-header {
  background-color: var(--color-background-light); /* Fyll bakgrunnsfargen på headeren */
  color: #2e5278; /* Fargen på teksten */
  padding: 1rem;
  margin-bottom: 0;
}

/* Wrapper for å plassere logo og tekst på samme linje */
.wrapper {
  display: flex; /* Bruker flexbox for å plassere elementene på samme linje */
  justify-content: flex-start; /* Justerer innholdet til venstre */
  align-items: center; /* Sørger for at elementene er vertikalt sentrert */
  width: 100%; /* Fyller hele bredden */
}

/* Styling for logo-containeren */
.logo-container {
  display: flex; /* Gjør logo-containeren til en flex-container */
  align-items: center; /* Sørger for at både logoen og teksten er vertikalt sentrert */

}

/* Juster størrelsen på logoen */
.logo-container img {
  height: 2rem; /* Sett høyden på logoen */
  width: auto; /* Beholder aspektforholdet til logoen */
}

/* Styling for tekst */
.logo-container h1 {
  margin: 0; /* Fjern eventuelle standardmargins */
  font-size: 1.4rem; /* Juster størrelsen på teksten */
  font-weight: 600; /* Velg ønsket fethet på teksten */
  color: #2e5278; /* Farge på teksten */
  line-height: 1; /* Sørger for at teksten ikke har for mye plass over eller under */
}
