/*  ==========================================

/* Layout modern.css */
    
/* Stylesheet for structuring layout sections
   - Multiple colored sections spanning the entire page width  
   - The body extends from the leftmost to the rightmost edge 
   - Width constraints are applied using div.inside 

  
/* Styling the root element and body - overrides declarations from layout.css */


html { 
    background-color: transparent; 
  }
  
  body { 
    max-width: none; 
    padding: 0; 
    margin: 0; 
  }
  
  /* Layoutbereiche (mit dem div.inside) in der Breite begrenzen und zentrieren */
  .inside {
    max-width: 600px; 
    padding: 0 1rem; 
    margin: 0 auto; 
  }
  
  /* Modernes Layout: Nur für moderne Browser, die display grid versthen -  mehr Platz für mehrspaltige Layouts */
  @supports (display: grid) {
    
    .inside { max-width: 960px; }
  
  } /* Ende @supports */ 
  


/* Die in content.css definierten Abstände korrigieren - zusätzliche Klasse erhöht die Spezifität */ 

.site-content .content-intro { 
  padding-right: 0; 
  padding-left: 0; 
} 
.site-content .content-intro { 
  margin-right: 0; 
  margin-left: 0; 
}

.site-content .infoboxen { 
  padding-right: 0; 
  padding-left: 0; 
} 
.site-content .infobox { 
  margin-right: 0; 
  margin-left: 0; 
}

.site-content .studentFeedback { 
  padding-right: 0; 
  padding-left: 0; 
} 
.site-content .studentFeedbackx { 
  margin-right: 0; 
  margin-left: 0; 
}
/* Layoutbereiche - horizontale Innenabstände entfernen */
.site-header, 
.site-nav, 
.site-content, 
.site-footer { 
  padding-left: 0; 
  padding-right: 0; 
}


/** 
  * Ende layout-modern.css 
  */ 

  