/* Hele headeren */
.dashboard-header {
    width: 100%;
    padding: 10px 20px;
    background-color: white;
    display: flex;
    align-items: center;
  }
  
  /* Flex container for pil og logo */
  .dashboard-header-content {
    display: flex;
    align-items: center;
  }
  
  /* Container for kun PIL */
  .dashboard-sidebar-toggle-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 30px; /* Økt fra 20px til 30px */
  }
  
  /* PIL-knapp */
  .dashboard-sidebar-toggle-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
    transition: transform 0.3s ease;
  }
  
  /* PIL-rotasjon */
  .dashboard-sidebar-toggle-button.rotated {
    transform: rotate(180deg);
  }
  
  /* Container for LOGO */
  .dashboard-logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1; /* Får logoen til å ta opp tilgjengelig plass */
  }
  
  .dashboard-logo-container a {
    display: flex;
    align-items: center;
    gap: 0.1rem; /* mindre mellomrom mellom logo og tekst */
  }
  
  .dashboard-logo-container img {
    height: 45px;
  }
  
  .dashboard-logo-container h1 {
    font-size: 1.5rem;
    color: #2c5282;
  }
