/* Popup.css */
.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .popup-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 300px;
    text-align: center;
  }
  
  .close-button {
    margin-top: 10px;
    background-color: #007bff;
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .close-button:hover {
    background-color: #0056b3;
  }

  .icon-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0; /* Fjerner ekstra padding */
    width: 40px; /* Juster størrelse etter ikon */
    height: 40px;
    /*display: flex; 
    align-items: center;
    justify-content: center;*/
    position: absolute;
    bottom: 15px;
    right: 15px;
  }