/* Registration.css */

.registration-container {
  text-align: center;
  background-color: var(--color-background-dark);
  padding: 40px;
  border-radius: 10px;
  box-shadow: var(--color-shadow-light);
  max-width: 500px;
  margin: 50px auto; /* Centers the registration form */
}

.registration-container h2 {
  color: var(--color-nav);
  margin-bottom: 20px;
}

.registration-container input {
  display: block;
  width: 80%;
  margin: 10px auto;
  padding: 10px;
  border: var(--color-grey-border-light-thin);
  border-radius: 5px;
}

.registration-container button {
  margin-top: 10px;
  padding: 5px 20px;
  border-radius: 20px;
  background-color: var(--color-nav);
  border: none;
  cursor: pointer;
  color: #fff;
  transition: background-color 0.3s ease;
}

.registration-container button:hover {
  background-color: var(--color-nav-darker);
}

.registration-container p {
  margin-top: 15px;
  color: var(--color-font);
}

.registration-container a {
  color: var(--color-nav);
  text-decoration: none;
  font-weight: bold;
}

.registration-container a:hover {
  text-decoration: underline;
}
