

/* - Hyperlinks 

- Upadateboxen/Dashboard 

/* hvor hører icon til?  */

.icon img[src$="svg"] {
  width: 4rem;
  height: auto; 
}




/* Styling for search area */

/* Behold samme inside-layout for enhetlig styling */
.inside {
  max-width: 960px;
  padding: 0 1rem;
  margin: 0 auto;
}

/* Minimal styling på .search-area */
.search-area {
  background-color: #00a3d2; /* Bakgrunnsfarge */
  box-shadow: var(--color-shadow); /* Skygge for UI-effekt */
 
}

/* Innholdet inni inside styres her */
.search-area .inside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem;
}


/* Upadateboxen/Dashboard -  */


@media screen and (min-width: 600px) {

  .updateboxen > .inside {
      display: grid; 
      grid-template-columns: 1fr 1fr;
      grid-gap: 1rem; 

      align-items: stretch; /* Sikrer at alle bokser strekker seg likt vertikalt */

    }

    /* endret denne tilbake til vanlig overskrift (ikke hentet fra db */
    .updateboxen> .inside > h2 {
      padding-top: 1rem;
      grid-column: 1/-1; 
    }
 }/*End Media */


.updatebox {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Plasserer innholdet jevnt fordelt langs boksen */

  text-align: center; 
  background-color: var(--color-background-light);
  color: var(--color-font,#120800);
  box-shadow: var(--color-shadow); 

  padding: 1rem;
  border-radius: 5px; /* Runde hjørner */
  margin: 0; 
margin-bottom: 1rem;
border: 2px solid transparent; /* Gjør grensen usynlig */

/* justerer bare høyden??  */
min-height: 100%; /* Sørger for at alle boksene har lik høyde */

    box-sizing: border-box; /* Inkluderer padding og border i høyden */


}

 

  .float-rechts svg {
    width: 150px;
    height: 150px;
    
} 

@media screen and (min-width: 600px) {
  .updateboxen > .inside {
    display: grid; 
    grid-template-columns: 1fr 1fr ;
    grid-gap: 1rem; 
    align-items: stretch; /* Sikrer at alle bokser strekker seg likt vertikalt */
  }
 
}

.updateboxen.updatebox p {
  margin-top: auto; /* Plasserer <p> elementet nederst i boksen */
}




